.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}
.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
footer{
  position:fixed;
  bottom: 0;
}
footer a { 
  color : #4aee88;
}
.inputGroup{
  display: flex;
  flex-direction: column;

}
.mainLabel{

  margin-bottom : 20 px ;
  margin-top: 0;
}
.homePageLogo{
  height:80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius:5px;
  outline:none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;}

  .btn {
    border : none ; 
    padding: 10px;
    font-weight: bold;
    border-radius:  5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }
  .joinBtn  {
     background: #4aee88;
     width: 100px;
     margin-left:  auto ;
  }
  .joinBtn :hover{
    background: #3dba6f;
  }
  .createInfo{
    margin : 0 auto;
    margin-top: 20px;
  }
  .createNewBtn
  {color :#4aee88;
    text-decoration: none;
    border-bottom: 1px solid #4aee88;
    transition: all 0.3s ease-in-out;

  }
  .createNewBtn:hover,footer a :hover{
    color: #3dba6f;
    border-color: #368654;
  }
  .mainWrap{
    display: grid;
    grid-template-columns: 230px 1fr;
   
  }
  .aside{
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
   
  }
  .asideInner{
    flex:1;
  }
   .clientList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
   }
   .client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
   }

   .userName{
    margin-top:10px;
   }

   .logo{
    border-bottom: 1px solid #424242;
    padding-bottom:10px ;



   }

   .logoImage{
    height: 60px;

   }
   .leaveBtn{
    background: red;
    width: 100%;
    margin-top: 20px;
    

   }
   .leaveBtn:hover{
    background: #df5a5a;
   }
   .CodeMirror{
    min-height: calc(88vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 10px;
  }
  .output{
    padding: 10px;
    background-color:#f8e9e9;
    border: 1px solid #ccc;
    

    
  }
    .statusDot {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 9px;
      height: 9px;
     
      border-radius: 50%;
      border: 2px solid white;
    }
        .avatarWrapper {
          position: relative;
          display: inline-block;
        }
                .statusDot.online {
                  background-color: green;
                }
        
                /* Red dot when the window is inactive */
                .statusDot.offline {
                  background-color: red;
                }